{% extends 'admin_dashboard/base.html' %}
{% load static %}
		{% block head %}
		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.theme.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/morris/morris.css' %}" />
		{% endblock head %}

				{% block content %}
				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Dashboard</h2>
					
						<div class="right-wrapper text-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'dashboard' %}">
										<i class="fas fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard &nbsp;</span></li>
								<li></li>
							</ol>
						</div>
					</header>
					<div class="row">
						<div class="col-lg-6">
							<section class="card">
								<header class="card-header">
									<h2 class="card-title">Line Chart</h2>
									<p class="card-subtitle">A style of chart that is created by connecting a series of data points together with a line.</p>
								</header>
								<div class="card-body">
					
									<!-- Morris: Line -->
									<div class="chart chart-md" id="morrisLine"></div>
									<script type="text/javascript">
					
										var morrisLineData = [{
											y: '2006',
											a: 100,
											b: 90
										}, {
											y: '2007',
											a: 75,
											b: 65
										}, {
											y: '2008',
											a: 50,
											b: 40
										}, {
											y: '2009',
											a: 75,
											b: 65
										}, {
											y: '2010',
											a: 50,
											b: 40
										}, {
											y: '2011',
											a: 75,
											b: 65
										}, {
											y: '2012',
											a: 100,
											b: 90
										}, {
											y: '2017',
											a: 75,
											b: 65
										}, {
											y: '2017',
											a: 100,
											b: 90
										}];
					
										// See: js/examples/examples.charts.js for more settings.
					
									</script>
					
								</div>
							</section>
						</div>
						<div class="col-lg-6">
							<section class="card">
								<header class="card-header">
									<h2 class="card-title">Pie Chart</h2>
									<p class="card-subtitle">Default Pie Chart</p>
								</header>
								<div class="card-body">
					
									<!-- Flot: Pie -->
									<div class="chart chart-md" id="flotPie"></div>
									<script type="text/javascript">
					
										var flotPieData = [{
											label: "Series 1",
											data: [
												[1, 60]
											],
											color: '#0088cc'
										}, {
											label: "Series 2",
											data: [
												[1, 10]
											],
											color: '#2baab1'
										}, {
											label: "Series 3",
											data: [
												[1, 15]
											],
											color: '#734ba9'
										}, {
											label: "Series 4",
											data: [
												[1, 15]
											],
											color: '#E36159'
										}];
					
										// See: js/examples/examples.charts.js for more settings.
					
									</script>
					
								</div>
							</section>
						</div>
					</div>
				</section>
				{% endblock content %}

		{% block scripts %}
		<!-- Specific Page Vendor -->
		<script src="{% static 'vendor/jquery-ui/jquery-ui.js' %}"></script>
		<script src="{% static 'vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js' %}"></script>
		<script src="{% static 'vendor/jquery-appear/jquery.appear.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
		<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.js' %}"></script>
		<script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
		<script src="{% static 'vendor/flot.tooltip/jquery.flot.tooltip.js' %}"></script>
		<script src="{% static 'vendor/flot/jquery.flot.pie.js' %}"></script>
		<script src="{% static 'vendor/flot/jquery.flot.categories.js' %}"></script>
		<script src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>
		<script src="{% static 'vendor/jquery-sparkline/jquery.sparkline.js' %}"></script>
		<script src="{% static 'vendor/raphael/raphael.js' %}"></script>
		<script src="{% static 'vendor/morris/morris.js' %}"></script>
		<script src="{% static 'vendor/gauge/gauge.js' %}"></script>
		<script src="{% static 'vendor/snap.svg/snap.svg.js' %}"></script>
		<script src="{% static 'vendor/liquid-meter/liquid.meter.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/jquery.vmap.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/data/jquery.vmap.sampledata.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/continents/jquery.vmap.africa.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/continents/jquery.vmap.asia.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/continents/jquery.vmap.australia.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/continents/jquery.vmap.europe.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/continents/jquery.vmap.north-america.js' %}"></script>
		<script src="{% static 'vendor/jqvmap/maps/continents/jquery.vmap.south-america.js' %}"></script>
		<script src="{% static 'js/examples/examples.charts.js' %}"></script>
		{% endblock scripts %}