{% extends 'admin_dashboard/base.html' %}
{% block content %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Register Student</h2>
    
        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'admin-dashboard' %}">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Register Student &nbsp;</span></li>
                <li></li>
            </ol>
        </div>
    </header>
    <button class="btn btn-primary">Start Webcam</button>
    
    <img class="img-thumbnail" src="" alt="" srcset="">
</section>
{% endblock content %}

{% block script }

{% endblock script }