{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/register_students.css' %}">
{% endblock head %}
{% block content %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Register Student</h2>
    
        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Register Student &nbsp;</span></li>
                <li></li>
            </ol>
        </div>
    </header>
    <div class="row">
        <div class="col-auto">
            <button id="start_webcam" class="btn btn-success">Start Webcam</button>
        </div>
        <div class="col-auto align-self-center">Or,</div>
        <div class="col-auto">
            <div class="input-group">
                <input id="ip" type="text" class="form-control" placeholder="Enter IP Address" aria-label="IP Cam">
                <div class="input-group-append">
                  <button id="start_ipcam" class="btn btn-success" type="button">Start</button>
                </div>
            </div>
        </div>
    </div>   
    <div class="row">
        <div class="col-auto">
            <img style="max-height: 500px;" id="cam_stream" class="img-thumbnail" src="" alt="" srcset="">
        </div>
        <div id="" class="mt-2 after_stream" style="display: none;">
            <div class="col-auto">
                <img style="max-height: 200px;" id="face_stream" class="img-thumbnail" src="" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="row" id="register_success" style="display: none; ">
        <div class="h2 text-success">Registration Success - Mail sent</div>
        <div class="h3">Student Details</div>
        <div class="h6">
            ID: <b id="registered_id"></b>
        </div>
        <div class="h6">
            Email: <b id="registered_email"></b>
        </div>
        <div class="h6">
            Password: <b id="registered_password"></b>
        </div>
    </div>
    <div class="row">
        <div id="" class="col-auto after_stream" style="display: none;">
            <button id="face_capture" class="btn btn-primary">Capture Face</button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-auto" id="reg-details" style="display: none;">
            <div class="row">
                <h3>Student Details</h3>
            </div>
            <form id="student_register_form" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="student_id">Student ID</label>
                    <input type="number" class="form-control" name="student_id" id="student_id" required>
                    <div id="id_error" class="text-danger">{{id_error_msg}}</div>
                </div>
                <div class="form-group row">
                    <label for="full_name" >Full Name</label>
                    <input type="text" class="form-control" name="full_name" id="full_name" required>
                </div>
                <div class="form-group row">
                    <label for="emailAddress">Email address</label>
                    <input type="email" class="form-control" name="email" id="emailAddress" placeholder="name@example.com" required>
                    <div id="email_error" class="text-danger">{{email_error_msg}}</div>
                </div>
                <div class="form-group row">
                  <label for="exampleFormControlSelect1">Class</label>
                  <select name="class" class="form-control" id="exampleFormControlSelect1" required>
                    <option selected disabled hidden>Choose..</option>
                    {% for class in classes %}
                    <option value="{{class.pk}}">{{class.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group row">
                    <label for="contact">Contact</label>
                    <input type="tel" class="form-control" name="contact" id="contact">
                </div>
                <div class="form-group row">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" id="address">
                </div>
                <input name="student_face" id="student_face" type="text" src="" alt="" hidden>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
    $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        } 
    });

    $("#start_webcam").click(function(){
        if ($(this).text() == "Start Webcam"){
            document.getElementById("cam_stream").src = "{% url 'attached-cam' %}";
            // document.getElementById("face_stream").src = "{% url 'attached-cam' %}";

            $(this).text("Stop Webcam");
            $(this).toggleClass("btn-success");
            $(this).toggleClass("btn-danger");
            $(".after_stream").css({
                display: "block",
            })
            $("#register_success").css({
                display: "none",
            })
        }
        else{
            document.getElementById("cam_stream").src = "";
            document.getElementById("face_stream").src = "";
            $(this).text("Start Webcam");
            $(this).toggleClass("btn-success");
            $(this).toggleClass("btn-danger");
            $(".after_stream").css({
                display: "none",
            })
            $("#reg-details").css({
                display: 'none',
            })
        }
    });
    $("#start_ipcam").click(function(){
        if ($(this).text() == "Start"){
            var ip = $("ip").text();
            document.getElementById("cam_stream").src = "{% url 'ip-cam' 'addr' %}".replace("addr", ip);
            $(this).text("Stop");
            $(this).toggleClass("btn-success");
            $(this).toggleClass("btn-danger");
        }
        else{
            document.getElementById("cam_stream").src = "";
            $(this).text("Start");
            $(this).toggleClass("btn-success");
            $(this).toggleClass("btn-danger");
        }
    });
    $("#face_capture").click(function(){
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var img = document.getElementById('cam_stream');
        canvas.width = img.width;
        canvas.height = img.height;
        context.drawImage(img, 0, 0, img.width, img.height);
        var myData = canvas.toDataURL();
        data = {
            'imageData': myData,
            'width': img.width,
            'height': img.height,
        }
        $.ajax({
            url: '{% url "attached-cam" %}',
            type: 'POST',
            data: data,
            dataType: "json",
            success: function(data) {
                var image = 'data:image/jpeg;base64,'+data["image"];
                $("#face_stream").attr("src", image);
                $("#reg-details").css({
                    display: 'block',
                })
                $("#student_face").attr('value', data["image"]);
            }
        });
    });
    $(document).on('submit', '#student_register_form', function(e) {
        e.preventDefault();
        var frm = $('#student_register_form')
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success:function (response) {
                if (response["error"])
                {
                    $("#id_error").text(response["id_error"]);
                    $("#email_error").text(response["email_error"]);
                }
                else
                {
                    $("#start_webcam").text("Stop Webcam").click();
                    $("#register_success").css({
                        display: "block",
                    })
                    $("#registered_id").text(response["student_id"]);
                    $("#registered_email").text(response["email"]);
                    $("#registered_password").text(response["password"]);
                }
            }
        })
        return false;
    });
</script>
{% endblock scripts %}