{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% block head %}
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{% static 'vendor/select2/css/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables/media/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/elusive-icons/css/elusive-icons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}" />
{% endblock head %}
{% block content %}

<section role="main" class="content-body pt-5">
    <header class="page-header">
        <h2>{{title}}</h2>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="row p-0 m-0">
                        <div class="col-6 p-0 m-0 d-flex justify-content-start">
                            <h2 class="card-title">{{student.user.full_name}}</h2>
                        </div>
                        <div class="col-6 p-0 m-0 d-flex justify-content-end">
                            <form class="form" action="">
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                    <input class="form-control" type="text" id="daterange" name="daterange" value='{% if attendances %}{{attendances.first.date|date:"m/d/Y"}} - {{attendances.last.date|date:"m/d/Y"}}{% endif %}' />
                                </div>
                            </form>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <table class="table table-bordered table-striped mb-0" id="attendances-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendance in attendances %}
                            <tr>
                                <td>{{attendance.date}} {{attendance.routine.time}}</td>

                                {% if attendance.status == "P" %}
                                <td class="center"><i class="el el-ok-sign"> Present</i></td>
                                {% else %}
                                <td class="center"><i class="el el-minus-sign"> Absent</i></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- end: page -->
{% endblock content %}
{% block scripts %}

<!-- Specific Page Vendor -->
<script src="{% static 'vendor/select2/js/select2.js' %}"></script>
<script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/media/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'js/theme.init.js' %}"></script>

<!-- Examples -->
<script src="{% static 'js/examples/examples.datatables.tabletools.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/daterangepicker/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script>
    var startDate;
    var endDate;
    $('#daterange').daterangepicker();
    var table = $('#attendances-table').DataTable({
        "order": [[ 0, "asc" ]],
        ordering:true,
        searching: false,});
    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
            var min = parseDateValue(startDate);
            var max = parseDateValue(endDate);
                    
            var myDate = parseDateValue('{{ attendances.first.date|date:"m/d/Y" }}'); // use data for the age column
            console.log(min, max, myDate);
            if (myDate <= max && myDate >= min) {
                return true;
            }
            return false;
        }
    );
    $('#daterange').on('apply.daterangepicker', function(ev, picker) {
        startDate = picker.startDate.format('MM/DD/YYYY');
        endDate = picker.endDate.format('MM/DD/YYYY');
        
        table.draw();
    });

    function parseDateValue(rawDate) {
        var dateArray= rawDate.split("/");
        var parsedDate= dateArray[2] + dateArray[0] + dateArray[1];
        return parsedDate;
    }
</script>
{% endblock scripts %}