a, a:visited, a:hover, a:focus {
    color: #2b81dd !important;
}

.sidebar-title-link, .sidebar-title-link:visited, .sidebar-title-link:hover {
    color: #7BBCE5 !important;
}

.sidebar-link, .sidebar-link:visited, .sidebar-link:hover, .success a {
    color: #c7eaff !important;
}

#branding a, #branding a:visited, #branding a:hover {
    color: #7BBCE5 !important;
}

.sidebar-right-arrow, .icon-add, .user-tools-link a, .sidebar-header-menu-icon {
    color: #7BBCE5 !important;
}

label {
    color: black !important;
}
.submit-row a.deletelink, .submit-row a.deletelink:visited, .submit-row a.deletelink:hover {
    color: white !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField {
    color: #646668 !important; 
}

.select2-container--jet .select2-selection .select2-selection__rendered {
    color: #646668 !important; 
}
